@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";

button {
  box-sizing: border-box;
}

@theme {
  --color-blue-base: #2c46b1;
  --color-blue-dark: #2c4091;

  --color-white: #ffffff;

  --color-gray-100: #f9f9fb;
  --color-gray-200: #e4e6ec;
  --color-gray-300: #cdcfd5;
  --color-gray-400: #74798b;
  --color-gray-500: #4d505c;
  --color-gray-600: #1f2025;

  --color-danger: #b12c4d;

  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;

  --text-xl: 24px;
  --text-xl--line-height: 32px;

  --text-lg: 18px;
  --text-lg--line-height: 24px;

  --text-md: 14px;
  --text-md--line-height: 18px;

  --text-sm: 12px;
  --text-sm--line-height: 16px;

  --text-xs: 10px;
  --text-xs--line-height: 14px;

  --animate-border: border 2s ease-in-out infinite;

  --animate-toast-in: toast-in 0.5s ease-in-out;

  @keyframes border {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(400%);
    }
  }

  @keyframes toast-in {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
